/* blog作者 */
.author-div{
    text-align: center;
    padding: 1rem;
}
.author-div div{
    margin-bottom: 1rem;
}
.author-introduction{
    font-size:.8rem;
    color: #999;
}
.account{
    background-color: #999;
    margin-left: .5rem;
    margin-right: .5rem;
}

/* 用户登录 */
.login-div {
    margin: 150px auto;
    width: 400px;
}
body {
    background-color: #f0f0f0;
}
.loginBtn {
    background-color: #990000;
    color: #fff;
    border: none;
}
.loginBtn:hover{
    background-color: #990000;
    color: #fff;
    border: none;
}
.loginBtn::selection{
    background-color: #990000;
    background: #fff;
    color: #fff;
    border: none;
}

/* .loginBtn :active{
    background-color: #990000;
} */

/* 表单样式 */
.form-item {
    font-size: medium;
    font-weight: 500;
}
.form-control {
    outline-style: none ;
    border: 1px solid #ccc; 
    border-radius: 0.2rem;
    margin-left: 0.5rem;
    margin-bottom: 0.5rem;
    box-shadow: none;
}
.form-control .hover{
    /* background-color: #659cd7; */
}
.submitBtn {
    margin-top: 0.5rem;
    background-color: #990000;
    color: #fff;
    border: 0px solid #fff;
    padding: 0.2rem 1rem;
    border-radius: 0.2rem;
}
